<% @instructor.errors.each do |message| %>
    <%= message.message %>
  <% end %>
<%= @instructor.name %>
<p> <%= @instructor.email%> </p>
<p> <%= @instructor.bio%> </p>
<% #TODO: teste de imagem padrão%>
<% if @instructor.profile_picture.persisted? %>
  <p> <%= image_tag @instructor.profile_picture %> </p>
<% else %>
  <p> Nenhuma imagem cadastrada </p>
<% end %>
<% if user_signed_in? %>
  <p> <%= link_to 'Editar', edit_instructor_path(@instructor) %></p>
  <p> <%= link_to 'Apagar', instructor_path(@instructor), method: :delete %>
<% end %>
<p> <%= link_to 'Voltar', instructors_path %>