
<%= @instructor.name %>
<%= @instructor.email%>
<%= @instructor.bio%>
<p> <%= image_tag @instructor.profile_picture %> </p>


<p> <%= link_to 'Editar', edit_instructor_path(@instructor) %></p>
<p> <%= link_to 'Apagar', instructor_path(@instructor), method: :delete %>
<p> <%= link_to 'Voltar', instructors_path %>