<%= @user.email %>
<% current_user.enrolls.each do |enroll| %>
  <p> <%= enroll.course.name %> </p>
<% end %>

<%= link_to 'Trocar senha', edit_user_registration_path%>

<% if @user.profile%>
  <div>
  <%= @user.profile.name %>
  <%= @user.profile.adress%>
  <%= link_to 'Editar dados', edit_user_profile_path(@user, @user.profile) %>
  </div>
<% else %>
  <%= 'Cadastre suas informações' %>
  <%= link_to 'Adicionar dados', new_user_profile_path(@user)%>
<% end %>