<%if @courses.empty? %>
  <%= "Nenhum curso disponível" %>
<% end %>

<%= link_to 'Registrar um Curso', new_course_path%>

<% @courses.each do |course|%>
  <ul>
  <li> <%= link_to course.name, course%> </li>
  <li> <%= course.description%> </li>
  <li> <%= number_to_currency course.price%> </li>
  </ul>
<%end%>

<p> <%= link_to "Voltar", root_path%> </p>