
<ul>
  <li> <%= @course.name %> </li>
  <li> <%= @course.description %> </li>
  <li> <%= @course.code %> </li>
  <li> <%= number_to_currency_brl @course.price%> </li>
  <li> <%= @course.date_to_metric%>
</ul>

<%= link_to "Voltar", courses_path%>