<h1> Curso </h1>
<ul>
  <li> <%= @course.name %> </li>
  <li> <%= @course.description %> </li>
  <li> <%= @course.code %> </li>
  <li> <%= number_to_currency @course.price%> </li>
  <li> <%= @course.instructor.name%> </li>
  <li> <%= l @course.enrollment_deadline%> </li>
</ul>
<% if user_signed_in?%>
  <p> <%= link_to 'Editar', edit_course_path(@course)%> </p>
  <p> <%= link_to 'Apagar', course_path(@course), method: :delete %>
  <p> <%= link_to 'Cadastrar nova aula', new_course_lesson_path(@course) %> </p>
  <p> <%= link_to 'Comprar', enroll_course_path, method: :post%> </p>
<% end%>
<% if @course.lessons.any?%>
  <% @course.lessons.each do |lesson|%>
    <p> <%= lesson.name%> </p>
    <p> <%= lesson.content%> </p>
    <% if user_signed_in?%>
      <p> <%= link_to 'Editar Aula', edit_course_lesson_path(@course)%> </p>
      <p> <%= link_to "Apagar #{lesson.name}", course_lesson_path(@course, lesson), method: :delete %>
    <% end %>
  <% end %>
<% else %>
  <p> Nenhuma aula cadastrada </p>
<% end %>
<p> <%= link_to "Voltar", courses_path, class: "btn btn-primary" %> </p>