
<ul>
  <li> <%= @course.name %> </li>
  <li> <%= @course.description %> </li>
  <li> <%= @course.code %> </li>
  <li> <%= @course.price_to_real%> </li>
  <li> <%= @course.date_to_metric%>
</ul>

<%= link_to "Voltar", courses_path%>