<h1> Curso </h1>
<ul>
  <li> <%= @course.name %> </li>
  <li> <%= @course.description %> </li>
  <li> <%= @course.code %> </li>
  <li> <%= number_to_currency @course.price%> </li>
  <li> <%= @course.instructor.name%> </li>
  <li> <%= l @course.enrollment_deadline%> </li>
</ul>

<p> <%= link_to 'Editar', edit_course_path(@course)%> </p>
<p> <%= link_to 'Apagar', course_path(@course), method: :delete %>
<p> <%= link_to 'Cadastrar nova aula', new_course_lesson_path(@course) %> </p>

<% if @course.lessons.any?%>
  <% @course.lessons.each do |lesson|%>
    <p> <%= lesson.name%> </p>
    <p> <%= lesson.content%> </p>
    <p> <%= link_to 'Editar Aula', edit_course_lesson_path(@course)%> </p>
  <% end %>
<% end %>
<p> <%= link_to "Voltar", courses_path%> </p>